body
{
  text-align: center;
  background-color: yellow;
  font-size: large;
}

#lens_logo
{
  width: 100px;
  height: 100px;
}

.copy_right_footer
{
  bottom: 0;
  position: fixed;
  color: white;
  background-color: grey;
  width: 100%;
}

.test_image_and_result
{
  background-color: grey;
}

.mini_result
{
  background: darkgrey;
}